.signup_section {
    display: flex;
    flex-direction: column;
}

.signup_txt_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.signup_txt_section h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #4f4f4f;
}

.signup_txt_section svg {
    cursor: pointer;
}

.email_input {
    margin-top: 1.4rem;
}

.signup_or_section {
    position: relative;
    margin-bottom: 0.5rem;
}

.signup_or_section hr {
    border: 0.5px solid rgb(232, 232, 232);
}   

.signup_or_section span {
    padding: 0.05rem 0.3rem 0.25rem 0.25rem;
    font-size: 0.9rem;
    color: #696969;
    position: absolute;
    left: 46.5%;
    top: -0.5rem;
    background-color: var(--white-font);
}

.signup_end_section {
    margin-top: 0.9rem;
}

.signup_end_section p {
    opacity: 0.7;
    font-size: 0.9rem;
    color: var(--other-font-1);
    font-weight: 300;
}

.signup_end_section p span {
    font-size: 0.9rem;
    color: #EF4F5F;
    font-weight: 300;
}
