body {
    font-family: Helvetica, sans-serif;
    background-color: var(--bg-clr);
}

* {
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

:root {
    --bg-clr: #fff;
    --white-font: #fff;
    --black-font: #000;
    --other-font-1: #363636;
    --other-font-2: #1C1C1C;
    --btn-bg: #EF4F5F;
}