.explore_conatainer {
    padding: 0rem 1rem;
    margin-bottom: 3rem;
}

.explore_conatainer h2{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--other-font-1);
    margin-bottom: 0.4rem;
}

.explore_cards {
    display: flex;
    flex-direction: column;
}

.explore_card_section {
    position: relative;
    background-color: var(--bg-clr);
    border: 1px solid rgb(232, 232, 232);
    padding: 1.5rem 1.1rem;
    border-radius: 0.4rem;
    margin-top: 0.6rem;
    cursor: pointer;
    box-shadow: rgb(28 28 28 / 8%) 0px 1.42623px 2.85246px;
}

.explore_card_section p {
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 300;
    color: var(--other-font-1);
}

.explore_card_section svg {
    position: absolute;
    right: 1rem;
    bottom: 1.6rem;
}