.nav_section {
    display: none;
}

.nav_ham_section {
    padding: 0.85rem 1rem;
}

.nav_ham_section svg{
    cursor: pointer;
}

/* Responsive Style */

@media only screen and (min-width: 768px) {
    .nav_section {
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        color: var(--white-font);
        padding: 0.85rem 1rem;
    }

    .nav_start {
        cursor: pointer;
    }

    .nav_start span {
        margin-left: 0.2rem;
        font-size: 0.7rem;
        font-weight: 500;
    }

    .nav_end {
        list-style: none;
        display: flex;
    }

    .nav_end li {
        cursor: pointer;
        font-size: 0.9rem;
        font-weight: 300;
        margin-right: 2rem;
    }

    .nav_end li:nth-child(4) {
        margin-right: 0rem;
    }

    .nav_ham_section {
        display: none;
    }

}

@media only screen and (min-width: 1200px) {
    .nav_section {
        padding: 0.85rem 11%;
    }
}