.orderonline_section {
    /* margin: 0 auto; */
    /* width: auto; */
    margin-top: 2.2rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    padding: 0rem 1rem;
    column-gap: 1.1rem;
}

.orderonline_card {
    cursor: pointer;
    transition: transform 0.5s ease;
    flex: 50%;
}

.orderonline_card:hover {
    transform: scale(1.07);
}

.orderonline_card img {
    border-radius: 0.9rem 0.9rem 0rem 0rem;
    border: 1px solid rgb(232, 232, 232);
    object-fit: cover;
    height: 6.5rem;
    width: 100%;
}

.orderonline_card_text {
    border: 1px solid rgb(232, 232, 232);
    border-top: none;
    border-radius: 0rem 0rem 0.9rem 0.9rem;
    position: relative;
    top: -5px;
    padding: 0.9rem 0rem 0.9rem 0.5rem;
}

.orderonline_card_text h3 {
    color: #363636;
    font-weight: 500;
    font-size: 0.7rem;
}

.orderonline_card_text p {
    color: #4f4f4f;
    font-weight: 400;
    font-size: 0.6rem;
    margin-top: 0.3rem;
}


/* Responsive Style */

@media only screen and (min-width: 576px) {
    .orderonline_card img {
        height: 9rem;
    }
}


@media only screen and (min-width: 768px) {
    .orderonline_card_text h3 {
        font-size: 1rem;
    }

    .orderonline_card_text p {
        font-size: 0.8rem;
        margin-top: 0.4rem;
    }
}

@media only screen and (min-width: 1200px) {
    .orderonline_section {
        padding: 0rem 11%;
        /* margin: 0 auto;
        width: 1200px; */
    }
}