.restaurantcard_container {
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 3rem;
}

.foodrestaurant_card {
    cursor: pointer;
}

.foodrestaurant_card img{
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
}

.foodrestaurant_card_txt {
    margin-top: 0.4rem;
}

.foodrestaurant_card_txt h4 {
    font-size: 0.95rem;
    font-weight: 400;
    color: var(--other-font-2);
}

.foodrestaurant_card_rating_section {
    display: flex;
    align-items: center;
    margin: 0.2rem 0;
}

.foodrestaurant_card_rating_1 {
    background-color: rgb(58, 183, 87);
    border-radius: 6px;
    padding: 0.2rem;
    color: var(--white-font);
    display: flex;
    align-items: center;
}

.foodrestaurant_card_rating_2 {
    background-color: rgb(38, 126, 62);
}

.foodrestaurant_card_rating_1 span {
    font-size: 0.65rem;
    font-weight: 600;
    margin-right: 0.1rem;
}

.foodrestaurant_card_dining {
    color: var(--other-font-1);
    font-size: 0.55rem;
    font-weight: 400;
    margin-left: 0.4rem;
}

.foodrestaurant_card_vertical {
    color: var(--other-font-1);
    margin: 0 0.2rem;
    opacity: 0.4;
}

.foodrestaurant_card_txt_foodname, .foodrestaurant_card_txt_resaddress {
    font-size: 0.6rem;
    font-weight: 400;
    color: #4f4f4f;
    margin: 0.2rem 0;
}

/* Responsive Style */

@media only screen and (min-width: 575px) {
    .restaurantcard_container {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1rem;
    }

    .foodrestaurant_card {
        flex: 40%;
    }

}

@media only screen and (min-width: 768px) {
    .foodrestaurant_card_dining {
        font-size: 0.6rem;
    }

    .foodrestaurant_card_txt_foodname, .foodrestaurant_card_txt_resaddress {
        font-size: 0.7rem;
    }   

}

@media only screen and (min-width: 992px) {
    .foodrestaurant_card {
        flex: 15%;
    }
}

@media only screen and (min-width: 1200px) {
    .restaurantcard_container {
        padding: 0rem 11%;
    }
}

